*.cmi
*.cmx
*.cmxs
*.css
*.glob
*.html
*.native
*.o
*.timing
*.v#
*.v.d
*.vo
.#*
.*.aux
/TAGS
/html
N*.cmi
N*.cmx
N*.cmxs
N*.native
N*.o
*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.pdf
*.synctex.gz
*.toc
tex/auto/*
