/build/Makefile-coq.make.bak
/TAGS*
/html
/enhanced-html
/build/Makefile-configuration
/.coq_makefile_input
/.coq_makefile_output
/.coq_makefile_output.conf
/.coqdeps.d
/build/CoqMakefile.make
/latex/*.log
/latex/*.aux
/latex/*.pdf
/latex/*.tex
/latex/*.out
/latex/*.bbl
/latex/*.blg
/latex/*.fdb_latexmk
/latex/*.fls
/latex/coqdoc.sty
/COQC.log
/.*.okay
