name: CI-Build-UniMath

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains two jobs, called "build-ubuntu" and "build-macos"

  sanity-checks:
    name: Sanity-Checks-Ubuntu
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install coq
          type coqc
          coqc --version
      - name: Run sanity checks
        run: |
          cd $GITHUB_WORKSPACE
          time make sanity-checks

  build-Unimath-ubuntu:
    name: Build-UniMath-Ubuntu
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install coq
          type coqc
          coqc --version
      - name: Build UniMath
        run: |
          cd $GITHUB_WORKSPACE
          time make -j2 TIMECMD=time

  build-coq-and-Unimath-ubuntu:
    name: Build-coq-and-UniMath-Ubuntu
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install build-essential git ocaml ocaml-nox ocaml-native-compilers camlp5 libgtk2.0 liblablgtk-extras-ocaml-dev ocaml-findlib libnum-ocaml-dev emacs ocaml-dune libzarith-ocaml-dev
      - name: Build UniMath
        run: |
          cd $GITHUB_WORKSPACE
          time make -j2 TIMECMD=time BUILD_COQ=yes

  build-macos:
    name: Build-UniMath-on-MacOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install build dependencies
        run: |
           brew install coq
           brew config --verbose
           type coqc
           coqc --version
      - name: Build UniMath
        run: |
          cd $GITHUB_WORKSPACE
          time make -j2 TIMECMD=time

#### ocaml 4.12 is currently too modern to compile this version of coq, and that's what homebrew provides.  So we use opam.  This is a good way to test the opam install instructions, anyway.
  build-macos-with-coq:
    name: Build-coq-and-UniMath-on-MacOS-with-opam
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install build dependencies using opam
        run: |
           brew install opam gtksourceview3 expat gtk+ gtksourceview libxml2
           brew config --verbose
           opam init --bare -n
           opam switch create with-coq 4.07.1+flambda
           opam install -y num lablgtk conf-gtksourceview lablgtk3-sourceview3 camlp5
      - name: Build UniMath
        run: |
          eval `opam env`
          type ocamlc
          ocamlc --version
          cd $GITHUB_WORKSPACE
          time make -j2 TIMECMD=time BUILD_COQ=yes
